.laptop {
    position: relative;
    perspective: 2000px;
    z-index: 0;
}
.bright-theme .shadow {
    box-shadow: 0 0 125px rgb(0 0 0 / 15%);
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}
.overlay .overlay_text{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    padding-top: 3rem;
    z-index: 999;
}
.laptop .screen {
    background: #fff;
    width: 100%;
    height: 245px;
    position: relative;
    margin: auto;
    padding: 3px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}
.laptop .keyboard {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 235px;
    margin: auto;
    margin-top: 10px;
    background-color: #dfdfdf;
    background-image: -moz-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dfdfdf),to(#f7f5f1));
    background-image: -webkit-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: -o-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: linear-gradient(top,#dfdfdf,#f7f5f1);
    box-shadow: 1px 2px 3px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
    padding: 20px 25px;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
    transform-origin: 0 0;
}
.laptop .key.disabled {
    opacity: .9;
}
.laptop .key {
    width: 35px;
}
.laptop .key {
    color: #000;
    /*position: absolute;
    left: 0;*/
    display: inline-block;
    height: 35px;
    /*width: 30px;*/
    /* padding: 5px; */
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* vertical-align: middle; */
    border: 1px solid rgba(112,112,112,0.5);
    border-radius: 5px;
    /* background-clip: padding-box; */
    background-color: #f7f5f1;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 10%), inset 0 0 2px rgb(255 255 255 / 50%);
    background-image: -moz-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dfdfdf),to(#f7f5f1));
    background-image: -webkit-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: -o-linear-gradient(top,#dfdfdf,#f7f5f1);
    background-image: linear-gradient(top,#dfdfdf,#f7f5f1);
        margin-bottom: 5px;
}


.laptop .key sub, .laptop .key sup {
    font-size: 90%;
    margin: 2px;
}
sub {
    bottom: -.25em;
}


sup {
    top: -.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.laptop .key-13>div, .laptop .key-enter>div, .laptop .key-tab>div, .laptop .key-lalt>div, .laptop .key-ralt>div, .laptop .key-fn>div, .laptop .key-ctrl>div, .laptop .key-8>div, .laptop .key-backspace>div, .laptop .key-20>div, .laptop .key-capslock>div, .laptop .key-lshift>div, .laptop .key-lmeta>div, .laptop .key-rmeta>div, .laptop .key-rshift>div, .laptop .key-32>div, .laptop .key-space>div {
    /*position: absolute;*/
    font-size: 12px;
    
    left: 5px;
    bottom: 5px;
    text-transform: none;
}
.laptop .key-32, .laptop .key-space {
    width: 306px;
}
.laptop .key-tab, .laptop .key-8, .laptop .key-backspace {
    width: 85px;
}
.laptop .ansi .key-13 {
    width: 83px;
    border-bottom-right-radius: 5px;
}
.laptop .ansi .key-lshift {
    width: 104px;
}
.laptop .key-rshift {
    width: 104px;
}
.laptop .key-rmeta, .laptop .key-lmeta{
    width: 45px;
}
.laptop .key-20, .laptop .key-capslock {
    width: 90px;
}
.laptop .key-13>div.enter-bottom, .laptop .key-enter>div.enter-bottom {
    background: #f7f5f1;
}
.laptop .key-92 {
    width: 56px;
}
.laptop .key-8 {
    width: 108px;
}
.laptop .key-13>div.enter-bottom, .laptop .key-enter>div.enter-bottom {
    width: 34px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    height: 56px;
    top: 47px;
    left: 16px;
    opacity: 1 !important;
}
.laptop .ansi .enter-bottom {
    display: none;
}
.laptop .hands {
        position: absolute;
    bottom: 30px;
    left: 30%;
    /* margin-left: -148px; */
    /* width: 279px; */
    height: 150px;
    padding-left: 10px;
    transform: translate3d(0,-12px,135px);
    backface-visibility: hidden;
}
.laptop .hand {
       margin: 25px 5px;
    width: 100px;
    float: left;
}
.laptop .hand-r{
    margin-top: 20px !important;
}
.laptop .hand-b, .laptop .finger {
    border-color: #777;
    background: #fff;
}
.laptop .finger-0 {
    margin-top: 80px;
    height: 40px;
    margin-left: 0;
}
.laptop .finger-1 {
       margin-top: 50px;
    height: 70px;
}
.laptop .finger-2 {
       margin-top: 33px;
    height: 87px;
}
.laptop .finger-3 {
       margin-top: 60px;
    height: 60px;
}
.laptop .finger-4 {
    margin-top: 95px;
    height: 25px;
    transform: translate3d(0,0,1px);
}
.laptop .finger-5 {
        margin-top: 96px;
    height: 30px;
    margin-left: 0;
    transform: translate3d(0,0,1px);
}
.laptop .finger-6 {
       margin-top: 55px;
    height: 70px;
}
.laptop .finger-7 {
    margin-top: 41px;
    height: 84px;
}
.laptop .finger-8 {
       margin-top: 65px;
    height: 60px;
}
.laptop .finger-9 {
   margin-top: 86px;
    height: 40px;
}
.hand-b-r{
    height: 60px;
}
.laptop .finger-active-0 .finger-0, .laptop .finger-active-1 .finger-1, .laptop .finger-active-2 .finger-2, .laptop .finger-active-3 .finger-3, .laptop .finger-active-4 .finger-4, .laptop .finger-active-5 .finger-5, .laptop .finger-active-6 .finger-6, .laptop .finger-active-7 .finger-7, .laptop .finger-active-8 .finger-8, .laptop .finger-active-9 .finger-9 {
    background: #3a5f9e;
}
.laptop .finger {
    float: left;
    width: 15px;
    border: 1px solid #777;
    margin-left: 2px;
    border-bottom: 0;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.laptop .hand-b, .laptop .finger {
    border-color: #777;
    background: #fff;
}

.laptop .hand-b {
        float: left;
    border: 1px solid #777;
    border-top: 0;
    width: 83px;
    height: 65px;
    margin-top: 0px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-left: 2px;
}
.screen-content{
    padding: 30px;
    font-size: 18px;
    line-height: 26px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-weight: 600;
}
.active_char{
    color:  #3a5f9e;
    font-size: 22px;
    border-bottom: 2px solid;
}
.validInput{
    color: green;
}
.invalidInput{
    color: red;
}
.incorrect_space{
    border-bottom: 2px solid red;
}
.active_button{
    background-color: #3a5f9e !important;
    color: #fff  !important;
    background-image: unset  !important;    
    -webkit-animation: itg_pulse 1s infinite;
    -o-animation: itg_pulse 1s infinite;
    animation: itg_pulse 1s infinite;
    -webkit-box-shadow: 0 0 0 0 rgb(58,95,158) !important;
    box-shadow: -1 0 0 0 rgb(58,95,158) !important;
}
@-webkit-keyframes itg_pulse {
    0% {
        -webkit-box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
        box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
        box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
        box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 60px rgba(58,95,158, 0.1);
        box-shadow: 0 0 0 20px rgba(58,95,158, 0.1);
    }
}
@-o-keyframes itg_pulse {
     0% {
        -webkit-box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
        box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
        box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
        box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 60px rgba(58,95,158, 0.1);
        box-shadow: 0 0 0 20px rgba(58,95,158, 0.1);
    }
}
@keyframes itg_pulse {
     0% {
        -webkit-box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
        box-shadow: 0 0 0 5px rgba(58,95,158, 0.9);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
        box-shadow: 0 0 0 10px rgba(58,95,158, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
        box-shadow: 0 0 0 15px rgba(58,95,158, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 60px rgba(58,95,158, 0.1);
        box-shadow: 0 0 0 20px rgba(58,95,158, 0.1);
    }
}